html {
    height: 100%;
}

body {
    font-family: 'Comic Sans MS', cursive;
    color: red;
    background-color: yellow;
    text-align: center;
    margin: 2em;
    height: 100%;
}

.content {
    margin: 1em;
}

h1 {
    font-size: 3.5em;
    text-decoration: underline dashed cyan;
    margin: 0;
}

.pix {
    display: inline-block;
    background-image: url('../img/hi.jpg');
    background-size: cover;
    background-color: orange;
    min-width: 425px;
    max-width: 50%;
    min-height: 600px;
    max-height: 75%;
    border-width: 2em;
    border-style: dotted solid;
    border-color: fuchsia;
}

.pix:hover {
    cursor: crosshair;
}

.pic-overlay {
    display: inline-block;
    background-color: rgba(178, 34, 34, 0.35);
    padding: 0.5em;
}

#help-text {
    display: inline-block;
    color: yellowgreen;
    font-size: 2em;
}

#details {
    display: none;
    text-align: left;
    width: 100%;
    padding: 0;
}

#details .title {
    background-color: lime;
    text-transform: uppercase;
    width: 100%;
    padding: 0.25em;
}

#details .info {
    color: lime;
}

#details ul {
    list-style-type: none;
}

footer {
    height: 10%;
    color: red;
    background-color: cyan;
    padding: 0.5em;
    text-transform: uppercase;
    margin: 1em;
    font-weight: bold;
}

footer marquee {
    height: 100%;
    width: 100%;
}
